@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
@import url("https://db.onlinewebfonts.com/c/7b1afea76a3ef8f4dbe5a216aa857eb8?family=ABC+Diatype+Regular");

@font-face {
  font-family: TWK Everett;
  font-weight: 500;
  src: url("/public/static/fonts/TWKEverett-Medium-web.woff2") format("woff2"),
    url("/public/static/fonts/TWKEverett-Medium-web.woff") format("woff"),
    url("/public/static/fonts/TWKEverett-Medium-web.ttf") format("ttf");
  font-display: swap;
}

body {
  margin: 0;
  font-family: ABC Diatype Regular !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000 !important;
  color: #fff !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: TWK Everett !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
